#startseite {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: var(--grey-text) !important;
}
#bilderErstellem {
	font-size: 15px !important;
	font-weight: 600 !important;
	color: #afcb08 !important;
}
.flex_button_header {
	display: flex;
	align-items: center;
}
.background {
	margin-top: 95px;
	--seo-color: #afcb08;
	background: #f0f0f1;
	height: auto;
}
button {
	margin-bottom: 8px !important;
	margin-right: 8px !important;
}
select {
	height: fit-content;
}
textarea {
	margin-bottom: 8px !important;
}
.wrap {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	margin-top: 137px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
}

.container {
	margin-top: 10px;
	border-radius: 20px;
	padding: 10px;
	padding-left: 20px;
}

.links textarea {
	width: 20dvw;
}

.mitte textarea {
	width: 80dvw;
}

.links textarea {
	width: 20dvw;
}

.flex_button_header {
	display: flex;
	width: 100%;
}

.bilder {
	display: flex;
	flex-wrap: wrap;
}
.imageFlexContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	padding: 8px;
	border-radius: 5px;
	margin-top: 18px;
	margin-right: 16px;
}
.fakeImage {
	width: 350px;
	height: 350px;
	background-color: white;
	padding: 20px;
}

.fakeImage img {
	border: 1px solid #d7e1f2;
	border-radius: 6px;
	width: 350px;
	height: 350px;
}
.logo {
	margin-right: 1.5rem;
	margin-top: 1.3rem;
	width: 100px;
}
.infoIcon {
	width: 30px;

	margin-left: 0.4rem;
	cursor: help;
}
.infoText {
	margin-top: 0.7rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	background-color: #fff;
	display: none;
	position: absolute;
	margin-left: 1rem;
}
.flexAlignMiddle {
	display: flex;
	align-items: center;
	height: 40px;
	margin-bottom: 12px;
}
.flexAlignMiddle select,
.flexAlignMiddle input,
.flexAlignMiddle button {
	height: 30px;
	margin-right: 8px;
}
.background {
	min-height: 80dvh !important;
}
.wrap {
	min-height: 80dvh !important;
}

#image-container {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px dashed #ccc;
	background-color: #fff;
	cursor: pointer;
}

canvas {
}

#pen-size {
	margin-top: 20px;
}

#image-canvas-hidden {
	display: none;
}
#editedImage {
	width: fit-content;
}
#editPrompt {
	margin: 0 auto;
	margin-top: 8px;
}

.toolbar {
	justify-content: center;
	margin-bottom: 8px;
}
.rowCenter {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.spaced {
	margin-right: 8px;
}

.editImageContainer {
	width: 80%;
}
/********** Range Input Styles **********/
/*Range Reset*/
input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 15rem;
}

/* Removes default focus */
input[type='range']:focus {
	outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
	background-color: #afcb08;
	border-radius: 0.5rem;
	height: 0.5rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -10px; /* Centers thumb on the track */

	/*custom styles*/
	background-color: #95ad0a;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
}

input[type='range']:focus::-webkit-slider-thumb {
	border: 1px solid #afcb08;
	outline: 3px solid #afcb08;
	outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type='range']::-moz-range-track {
	background-color: #afcb08;
	border-radius: 0.5rem;
	height: 0.5rem;
}

/* slider thumb */
input[type='range']::-moz-range-thumb {
	border: none; /*Removes extra border that FF applies*/
	border-radius: 0; /*Removes default border-radius that FF applies*/

	/*custom styles*/
	background-color: #95ad0a;
	height: 2rem;
	width: 1rem;
}

input[type='range']:focus::-moz-range-thumb {
	border: 1px solid #afcb08;
	outline: 3px solid #afcb08;
	outline-offset: 0.125rem;
}

#nmd_image_prompt {
	width: 100ch;
}
